.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}


@media screen and (max-width:575px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
