.modal__content {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: .1s;
}

@media screen and (max-width:575px) {
  .modal__content {
    padding: 25px 22px;
    margin: 0 19px;
  }
}
