.modal {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s linear;
  z-index: 1;
}