.profile__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width:560px) {
  .profile__info {
    align-items: center;
    width: 100%;

  }
}
