.profile__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
@media screen and (max-width:768px) {
  .profile__action {
    justify-content: center;
  }
}

@media screen and (max-width:575px) {
  .profile__action {
    margin-top: 6px;
  }
}

